/* region GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* endregion GLOBAL RULES */

/* #region DEBUG */

.debug {
    border: 1px solid red;
}

.debug [class*='_menu'] {
    background-color: green;
    border: 1px dashed black;
}

.debug a {
    border: 1px solid blue;
}



/* #endregion DEBUG */

/* #region UTILITIES */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space_btw {
    justify-content: space-between;
}

/* #endregion UTILITIES */

/* #region HEADER AND NAVBAR */

.logo {
    padding: 0.5rem;
}

.right_menu {}

[class*='_menu'] {
    align-items: center;
    gap: 1rem;
}

a {
    padding: 1rem 0.5rem;
    text-decoration: none;
}



/* #endregion HEADER AND NAVBAR */