/* region GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --db-light: white;
    --db-dark: black;
    --db-btn: #0061ff;
    --db-hero: #b4d0e7;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

button {
    border: none;
    background-color: unset;
    padding: .5rem;
}

.btn-blue {
    background-color: var(--db-btn);
    color: var(--db-light);
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
}

/* endregion GLOBAL RULES */

/* #region DEBUG */

.debug,
.debug .container {
    border: 1px solid red;
}

.debug [class*='_menu'] {
    border: 1px dashed black;
}

.debug a {
    border: 1px solid blue;
}

.debug img {
    border: #ffe710 solid 1px;
}



/* #endregion DEBUG */

/* #region UTILITIES */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space_btw {
    justify-content: space-between;
}

.just_cent {
    justify-content: center;
}

/* #endregion UTILITIES */

/* #region HEADER AND NAVBAR */

nav {
    padding: 0 2rem;
    background-color: var(--db-light);
}

.logo {
    padding: 0.5rem;
}

.right_menu {}

[class*='_menu'] {
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 2rem 0.5rem;
    text-decoration: none;
    color: var(--db-dark);
}

.nav_start {
    background-color: var(--db-btn);
    color: var(--db-light);
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
}

/* #endregion HEADER AND NAVBAR */

/* #region HERO */

section.hero {
    background-color: var(--db-hero);
}

.jumbo_container {
    width: 65%;
    margin: 0 auto;
    max-width: 1770px;
}

img.jumbo {
    width: 110%;
    height: 110%;
}

.jumbo_container h1 {
    width: 100%;
    font-weight: 700;
    font-size: 5rem;
    padding: 4rem 0;
}

.jumbo_container p {
    margin-bottom: 2rem
}

.arrow {
    font-size: 3rem;
    color: var(--db-dark);
}

/* #endregion HERO */